	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/10/2018 18:34
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-call:before { content: "\f100"; }
.flaticon-clock:before { content: "\f101"; }
.flaticon-pin:before { content: "\f102"; }
.flaticon-cute-rocket-launching:before { content: "\f103"; }
.flaticon-support:before { content: "\f104"; }
.flaticon-music-player-play:before { content: "\f105"; }
.flaticon-car-directions:before { content: "\f106"; }
.flaticon-crawling-baby-silhouette:before { content: "\f107"; }
.flaticon-money:before { content: "\f108"; }
.flaticon-gmo:before { content: "\f109"; }
.flaticon-folder:before { content: "\f10a"; }
.flaticon-placeholder:before { content: "\f10b"; }
.flaticon-old-typical-phone:before { content: "\f10c"; }
.flaticon-worldwide:before { content: "\f10d"; }
.flaticon-left-quotes-sign:before { content: "\f10e"; }
.flaticon-broken-link:before { content: "\f10f"; }
.flaticon-plant:before { content: "\f110"; }
.flaticon-plan:before { content: "\f111"; }
.flaticon-search:before { content: "\f112"; }
.flaticon-seo-performance-marketing-graphic:before { content: "\f113"; }
.flaticon-project-management:before { content: "\f114"; }
.flaticon-add:before { content: "\f115"; }
.flaticon-stopwatch:before { content: "\f116"; }
.flaticon-headset:before { content: "\f117"; }
.flaticon-placeholder-1:before { content: "\f118"; }
.flaticon-facebook:before { content: "\f119"; }
.flaticon-instagram:before { content: "\f11a"; }
.flaticon-twitter:before { content: "\f11b"; }
.flaticon-website:before { content: "\f11c"; }
.flaticon-objective:before { content: "\f11d"; }
.flaticon-team:before { content: "\f11e"; }
.flaticon-collaboration:before { content: "\f11f"; }
.flaticon-customer:before { content: "\f120"; }
.flaticon-look:before { content: "\f121"; }
.flaticon-fax:before { content: "\f122"; }
.flaticon-business-plan:before { content: "\f123"; }
.flaticon-right-arrow:before { content: "\f124"; }
.flaticon-landing:before { content: "\f125"; }
.flaticon-speed:before { content: "\f126"; }
.flaticon-web-design:before { content: "\f127"; }
.flaticon-innovation:before { content: "\f128"; }
.flaticon-sitemap:before { content: "\f129"; }
.flaticon-training:before { content: "\f12a"; }
.flaticon-users:before { content: "\f12b"; }
.flaticon-medal:before { content: "\f12c"; }
.flaticon-food:before { content: "\f12d"; }
.flaticon-briefing:before { content: "\f12e"; }
.flaticon-route:before { content: "\f12f"; }
.flaticon-phone-call:before { content: "\f130"; }
.flaticon-social-media:before { content: "\f131"; }
.flaticon-weather:before { content: "\f132"; }